// General Colors

$black: #000;
$white: #FFF;
$grey: #323234;
$green: #006600;
$green_hover: #004D00;
$red: #660000;
$red_hover: #4D0000;
$blue: #0000CC;
$blue_hover: #000099;

// Custom Colors
// FIXTHIS dark color
$color1: #323234;
// FIXTHIS light color
$color2: #FFF;
// FIXTHIS grey color
$color3: #4c4c4e;
// FIXTHIS client's main color
$color4: #115038;
// FIXTHIS client's secondary color
$color5: #F57328;

// General Fonts

$Lato: "Lato", "Arial", sans-serif;
$Merriweather: "Merriweather", "Georgia", serif;
$Montserrat: "Montserrat", "Arial", sans-serif;
$Nunito: "Nunito", "Arial", sans-serif;
$OpenSans: "Open Sans", "Arial", sans-serif;
$PTSans: "PT Sans", "Arial", sans-serif;
$Poppins: "Poppins", "Arial", sans-serif;
$Roboto: "Roboto", "Arial", sans-serif;